# Kopiere diese Datei nach /etc/systemd/system/btrbk-root.service
[Unit]
Description=btrbk backup – home.conf
Documentation=man:btrbk(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/btrbk -c /etc/btrbk/home.conf run
