[Desktop Entry]
Type=Application
Name=Backup mit btrbk
Comment=Snapshopts und Backups mit btrbk
# Exec=/usr/local/bin/btrbk.sh
Exec=~/btrbk-home-clients/scripts/btrbk.sh
Terminal=true
Icon=drive-removable-media
Categories=System
X-Desktop-File-Install-Version=0.26